<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem
            id="menu_hospital_root"
            name="Hospital"
            sequence="0"
            web_icon="om_hospital,static/description/icon.png"
    />
    <menuitem
            id="menu_patient_master"
            name="Patients Details"
            parent="menu_hospital_root"
            sequence="0"
    />
    <menuitem
            id="menu_patient"
            name="Patients"
            parent="menu_patient_master"
            action="patient_action"
            sequence="0"
    />
    <menuitem
            id="menu_old_patient"
            name="Old Patients"
            parent="menu_patient_master"
            action="account.res_partner_action_customer"
            sequence="3"
    />
    <menuitem
            id="menu_female_patient"
            name="Females Patients"
            parent="menu_patient_master"
            action="female_patient_action"
            sequence="1"
    />
    <menuitem
            id="menu_kid_patient"
            name="Kids Patients"
            parent="menu_patient_master"
            action="kid_patient_action"
            sequence="2"
    />
    <menuitem
            id="menu_appointment_main"
            name="Appointments"
            parent="menu_hospital_root"
            sequence="1"
    />
    <menuitem
            id="menu_appointment"
            name="Appointments"
            parent="menu_appointment_main"
            action="appointment_action"
            sequence="0"
    />
    <menuitem
            id="menu_configuration"
            name="Configurations"
            parent="menu_hospital_root"
            sequence="2"
    />
    <menuitem
            id="patient_tag_menu"
            name="Tags"
            parent="menu_configuration"
            action="patient_tag_action"
            sequence="1"
    />
    <menuitem id="hospital_config_settings_menu"
              name="Settings"
              parent="menu_configuration"
              sequence="0"
              action="hospital_config_settings_action"
              groups="base.group_system"/>
    <menuitem
            id="menu_cancel_appointment"
            name="Cancellation"
            parent="menu_appointment_main"
            action="cancel_appointment_action"
            sequence="50"
    />
</odoo>